  <div class="supervisor-container">
    <div class="content">
      <div class="back-results">
        <a onclick="goBack()">←  Back to results</a>
      </div>

      <div class="supervisor-card">
        <h2 class="title"></h2>
        <div class="group-row">
        </div>
        <div class="research-themes">
          <div class="tags tags-themes">

          </div>
        </div>
        <div class="additional-details"></div>
        <div class="contact-details">
          <div class="contact contact-email">
            <img src="/assets/images/mail.svg" alt="">
            <a href="" target="blank"></a>
          </div>
          <div class="contact contact-url">
            <img src="/assets/images/url.svg" alt="">
            <a href="" target="blank"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
